{% extends 'base.html' %}

{% block page_title %}
    <h2>Login</h2>
{% endblock %}

{% block content %}
    <!-- Info Message -->
    {% if message %}
        <p class="info">
            <strong>
                {{ message }}
            </strong>
        </p>
    {% endif %}

    <!-- Error Message -->
    {% if error_message %}
        <p class="error">
            <strong>
                {{ error_message }}
            </strong>
        </p>
    {% endif %}

    <!-- Login Form -->
    <form method="post" action="{% url 'bookmarker:login' %}">
        {% csrf_token %}

        <p>
            <label>Username
                <input type="text" name="username">
            </label>
        </p>

        <p>
            <label>Password
                <input type="password" name="password">
            </label>
        </p>

        <button type="submit">Login</button>
    </form>

    <!-- New User link -->
    <a href="{% url 'bookmarker:signup' %}">New user</a>
{% endblock %}
