<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/bookmarker">Bookmarker</a>
        </div>

        {% if request.user.is_authenticated %}
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'bookmarker:index' %}">Bookmarks</a></li>
                    {% if request.user.is_admin %}
                        <li><a href="{% url 'bookmarker:users' %}">Users</a></li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'bookmarker:logout' %}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
</nav>