{% extends 'base.html' %}

{% block page_title %}
    <h2>New User</h2>
{% endblock %}

{% block content %}
    <!-- Error Message -->
    {% if error_message %}
        <p class="error">
            <strong>
                {{ error_message }}
            </strong>
        </p>
    {% endif %}

    <!-- Signup Form -->
    <form method="post" action="{% url 'bookmarker:signup' %}">
        {% csrf_token %}

        <p>
            <label>Username
                <input type="text" name="username">
            </label>
        </p>

        <p>
            <label>Password
                <input type="password" name="password">
            </label>
        </p>

        <button type="submit">Create</button>
    </form>
{% endblock %}
