{% extends 'base.html' %}

{% block page_title %}
    <h2> Edit Bookmark </h2>
{% endblock %}

{% block content %}
    <div>
        {% if error_message %}
            <p>
                <strong>
                    {{ error_message }}
                </strong>
            </p>
        {% endif %}

        <form action="{% url 'bookmarker:edit' bookmark.id %}" method="post">
            {% csrf_token %}
            <label>
                URL
                <input name="url" value="{{ bookmark.url }}" />
            </label>
            <br />

            <input type="submit" value="Save" />
        </form>
    </div>


    <a href="/bookmarker">Bookmarks</a>
{% endblock %}
