{% extends 'base.html' %}

{% block page_title %}
    <h2>Bookmarks by User</h2>
{% endblock %}

{% block content %}
    <!-- List Bookmarks grouped by User -->
    <div>
        {% if grouped_bookmarks %}
            {% for group in grouped_bookmarks %}
                {% if forloop.counter0|divisibleby:3 %}
                    <div class="row">
                {% endif %}
                    <div class="col-md-4">

                        <!-- User -->
                        <h3>{{ group.user.0.username }}</h3>
                        
                        <!-- Bookmarks -->
                        <ul>
                            {% for bookmark in group.bookmarks %}
                                <li>
                                    {{ bookmark.url }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% if forloop.counter|divisibleby:3 %}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No bookmarks available.</p>
        {% endif %}
    </div>
{% endblock %}
