{% extends 'base.html' %}

{% block page_title %}
    <h2>Bookmarks</h2>
{% endblock %}

{% block content %}
    <!-- List Bookmarks -->
    <div class="col-md-8">
        <h3>Your Bookmarks</h3>

        {% if bookmarks %}
            <ul>
            {% for bookmark in bookmarks %}
                <li>
                    <a href="{% url 'bookmarker:edit' bookmark.id %}">
                        {{ bookmark.url }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No bookmarks available.</p>
        {% endif %}
    </div>

    <!-- Add Bookmark Form -->
    <div class="col-md-4">
        <h3>Add Bookmark</h3>

        <form action="{% url 'bookmarker:index' %}" method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="bookmark_url">URL</label>
                <input name="url" id="bookmark_url" value="" class="form-control"/>
            </div>

            <input type="submit" value="Bookmark It!" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}
